{% extends 'base.html.twig' %}

{% block title %}Charges{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/total-selected-charges.js') }}"></script>

{% if transaction %}
<script src="{{ asset('build/alert.js') }}"></script>
{% endif %}
{% endblock %}

{% block body %}
<div class="charges__wrapper">
    <div class="charges__inner">
        {% if transaction %}
            <div class="alert" id="alert">
                <span class="alert-text">
                {% if transaction.status == constant('STATUS_PAID', transaction) %}
                    We’ve received your payment and are in process of updating your account.
                {% elseif transaction.status == constant('STATUS_COMPLETED', transaction) %}
                    <strong>Thanks for your payment.</strong> We’ve received your payment and applied it toward your account.
                {% elseif transaction.status == constant('STATUS_FAILED', transaction) %}
                    <strong>Thanks for your payment.</strong> We’ve received your payment, but it can’t be applied toward your account at this time.<br>
                    Contact us at (520) 621-6442 as soon as possible so we can help you.
                {% elseif transaction.status == constant('STATUS_DECLINED', transaction) %}
                    Your payment of ${{ transaction.totalBalance|number_format(2, '.', ',') }} was declined by PayPal.
                {% elseif transaction.status == constant('STATUS_ERROR', transaction) %}
                    There was a critical problem with your payment.
                {% endif %}
                </span>
                <button class="alert-close" id="alert-close">Close</button>
            </div>
        {% endif %}

        {% include 'partials/greetings-and-signout.html.twig' %}

        {% if user_fees %}
        <div class="charges__total-amount-due">Your total amount due is:
            <span class="charges__total-amount-number">${{ total_Due|number_format(2, '.', ',') }}</span>
        </div>

        <p class="charges__prompt">Select charges you want to pay:</p>

        <form action="{{ path('payment_handler') }}" method="post" id="chargesList" name="chargesList">
            <ul class="charges__list">
                {% for fee in user_fees %}
                <li class="charges__item">
                    <ul class="charges__item-details">
                        <li class="charges__item-checkbox">
                            <input type="checkbox" name="fee[]" value="{{ fee.id }}" data-fee-balance="{{ fee.balance }}" class="charges__item-checkbox-input" />
                        </li>
                        <li class="charges__item-label">{{ fee.label }}</li>
                        <li>{{ fee.title }}</li>
                        <li class="charges__item-balance">
                            ${{ fee.balance|number_format(2, '.', ',') }}</li>
                        <li>{{ fee.date|date('m/d/Y') }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>

            <div class="charges__total-amount-selected">Selected charges total:
                <span class="charges__total-amount-selected-number" id="totalSelectedAmount"></span>
            </div>

            <input id="submitButton" type="submit" value="Pay now" class="button button-primary" disabled="disabled" />
        </form>
        {% else %}
            <div class="charges__total-amount-due">Good news.</div>
        <p>You don’t have any fees at this time.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
