{% extends 'base.html.twig' %}

{% block title %}Charges{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div>Hi {{ full_name }}!</div>

    <p>Your total amount due is :</p>
    <form action="{{ path('payment_handler') }}" method="post">
        <ul>
        {% for fine in user_fines %}
            <li>
                <ul>
                    <li><input type="checkbox" name="fee[]" value="{{ fine.id }}" data-fee-balance="{{ fine.balance }}"></li>
                    <li>{{ fine.label }}</li>
                    <li>{{ fine.title }}</li>
                    <li>{{ fine.balance }}</li>
                </ul>
            </li>
        {% endfor %}
        </ul>
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="submit" value="Pay Your Fine" />
    </form>
</div>
{% endblock %}
