{% extends 'base.html.twig' %}

{% block title %}Charges{% endblock %}

{% block body %}

<div class="charges__wrapper">
    <div class="charges__inner">
        <div class="charges__title">Hi, {{ full_name }}!</div>
    
        <div class="charges__total-amount-due">Your total amount due is: <span class="charges__total-amount-number"></span></div>

        <p class="charges__sign-out">I am done with payments, <a href="#">sign me out</a>.</p>

        <p class="charges__prompt">Select charges you want to pay:</p>

        <form action="{{ path('payment_handler') }}" method="post">
            <ul class="charges__list">
            {% for fine in user_fines %}
                <li class="charges__item">
                    <ul class="charges__item-details">
                        <li class="charges__item-checkbox">
                            <input type="checkbox" name="fee[]" value="{{ fine.id }}" data-fee-balance="{{ fine.balance }}">
                        </li>
                        <li class="charges__item-label">{{ fine.label }}</li>
                        <li>{{ fine.title }}</li>
                        <li class="charges__item-balance">${{ fine.balance|number_format(2, '.', ',') }}</li>
                    </ul>
                </li>
            {% endfor %}
            </ul>
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="submit" value="Pay Your Fine" class="button button-primary" />
        </form>
    </div>
</div>
{% endblock %}
