{% extends 'base.html.twig' %}

{% block title %}Your Fines{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    td { border-bottom: 2px solid black; }
    table { border-collapse: collapse; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ full_name }}! ✅</h1>
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
      {% endfor %}
    {% endfor %}

    <h2>Library Fees:</h2>
    <table>
      {% for fine in user_fines %}
        <tr class="table-row">
          <td>
            <p>{{ fine.label }}</p>
            <p>{{ fine.title }}</p>
          </td>
          <td>
            <p>{{ fine.balance }}</p>
          </td>
          <td>
            {% if fine.label is not same as("Credit") %}
              <a href="{{ path('pay_fee', {'feeId': fine.id, 'amount': fine.balance }) }}">Pay Fee</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
</div>
{% endblock %}
