{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
<div class="confirmation__wrapper">
    <div class="confirmation__inner">
        <h2>You’re about to pay ${{ total_balance|number_format(2, '.', ',') }}</h2>
        <form action="{{ payflow_url }}" method="post">
            <input type="hidden" name="LOGIN" value="{{ payflow_login }}">
            <input type="hidden" name="PARTNER" value="{{ payflow_partner }}">
            <input type="hidden" name="AMOUNT" value="{{ total_balance }}">
            <input type="hidden" name="TYPE" value="S">
            <input type="hidden" name="CUSTID" value="{{ user_id }}">
            <input type="hidden" name="INVOICE" value="{{ invoice_number }}">
            <a class="button button-link" href="{{ path('index') }}">Cancel</a>
            <input id="pay_form" type="submit" value="Continue" class="button button-primary">
        </form>
    </div>
</div>
{% endblock %}
