{% extends 'base.html.twig' %}

{% block title %}Charges{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/total-selected-charges.js') }}"></script>
{% endblock %}

{% block body %}
<div class="charges__wrapper">
    <div class="charges__inner">
        <div class="charges__title">Hi, {{ full_name }}!</div>

        {% if user_fees %}
        <div class="charges__total-amount-due">Your total amount due is:
            <span class="charges__total-amount-number">${{ total_Due|number_format(2, '.', ',') }}</span>
        </div>

        <p class="charges__sign-out">I am done with payments,
            <a href="#">sign me out</a>.</p>

        <p class="charges__prompt">Select charges you want to pay:</p>

        <form action="{{ path('payment_handler') }}" method="post" id="chargesList" name="chargesList">
            <ul class="charges__list">
                {% for fee in user_fees %}
                <li class="charges__item">
                    <ul class="charges__item-details">
                        <li class="charges__item-checkbox">
                            <input type="checkbox" name="fee[]" value="{{ fee.id }}" data-fee-balance="{{ fee.balance }}" class="charges__item-checkbox-input" />
                        </li>
                        <li class="charges__item-label">{{ fee.label }}</li>
                        <li>{{ fee.title }}</li>
                        <li class="charges__item-balance">
                            ${{ fee.balance|number_format(2, '.', ',') }}</li>
                        <li>{{ fee.date|date('m/d/Y') }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>

            <div class="charges__total-amount-selected">Selected charges total:
                <span class="charges__total-amount-selected-number" id="totalSelectedAmount"></span>
            </div>

            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input id="submitButton" type="submit" value="Pay now" class="button button-primary" disabled="disabled" />
        </form>
        {% else %}
        <p>You currently have no charges.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
